bin/
obj/

*.suo
.vs/VirtualClass/v16/.suo
.vs/VirtualClass/DesignTimeBuild/.dtbcache.v2
.vs/VirtualClass/v16/.suo
.vs/VirtualClass/DesignTimeBuild/.dtbcache.v2
.vs/VirtualClass/v16/.suo
.vs/VirtualClass/v16/.suo
